form {
	/* max-width: 25rem; */
	max-width: 50%;
	/* space t/b, center r/l */
	margin: var(--space-8) auto;
	padding: var(--space-4);
	background-color: var(--color-primary-200-bg);
	border-radius: var(--border-radius-medium);
	/* center inline elements */
	text-align: center;
	overflow: auto;
}

form:hover,
form:active {
	color: var(--color-primary-700);
}