<!-- show error message if entered data is invalid -->
<!-- <section class="alert">
	<h2>Invalid Credentials</h2>
</section> -->

<form action="/login" method="POST">
	<h1>{{ title }}</h1>

	<p>
		<label for="username">Username</label>
		<input type="text" id="username" name="username" minlength="3" size="15" required />
	</p>
	<p>
		<label for="password">Password</label>
		<input type="password" id="password" name="password" minlength="4" size="15" required />
	</p>

	<app-button color="var(--color-primary-400)" btnText="Send"></app-button>
</form>