<section>
	<div id="tickets-actions">
		<app-button color="var(--color-primary-200-contrast)" btnText="Page +1"></app-button>
		<app-button color="var(--color-primary-400)" btnText="Create ticket"></app-button>
		<app-button color="var(--color-primary-200-contrast)" btnText="Page -1"></app-button>
	</div>
	<div id="tickets-list">
		<app-ticket-item
			*ngFor="let ticket of tickets" [ticket]="ticket"
			(onDeleteTicket)="deleteTicket(ticket)"
			(onToggleCompleted)="toggleStatus(ticket)"
		>
		</app-ticket-item>
	</div>
</section>