<section>
	<div class="tickets-actions">

		<div class="icons">
			<fa-icon
				(click)="pageSubtract()"
				[icon]="faAngleLeft"
				[ngStyle]="{ color: 'var(--color-primary-400)'}">
			</fa-icon>
		</div>

		<app-button
			(btnClick)="toggleAddTicket()"
			color="{{showAddTicket ? 'red' : 'green'}}"
			btnText="{{showAddTicket ? 'Close' : 'Add Ticket'}}">
		</app-button>

		<div class="icons">
			<fa-icon
				(click)="pageAdd()"
				[icon]="faAngleRight"
				[ngStyle]="{ color: 'var(--color-primary-400)'}">
			</fa-icon>
		</div>

	</div>
	<app-add-ticket (onAddTicket)="addTicket($event)"></app-add-ticket>
	<div class="tickets-list">
		<app-ticket-item
		*ngFor="let ticket of tickets" [ticket]="ticket"
		(onDeleteTicket)="deleteTicket(ticket)"
		(onToggleCompleted)="toggleStatus(ticket)"
		>
	</app-ticket-item>
	</div>
</section>