.btn {
	display: inline-block;
	border: none;
	color: #fff;
	padding: var(--space-4) var(--space-6);
	margin: var(--space-2);
	border-radius: var(--border-radius-medium);
	cursor: pointer;
	text-decoration: none;
	font-size: 1.2rem;
	font-family: inherit;
}

.btn:focus {
	outline: none;
}

.btn:hover {
	color: var(--color-primary-700);
}

.btn:active {
	transform: scale(0.9);
	color: var(--color-primary-700);
}