/* You can add global styles to this file, and also import other style files */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	--color-gray-100: #f3ece6;
	--color-gray-200: #cfc9c4;
	--color-gray-300: #635c56;
	--color-gray-400: #46413c;
	--color-gray-500: #25221f;
	--color-gray-600: #201d1a;
	--color-gray-700: #1f1a16;

	--color-primary-100: #fde0c8;
	--color-primary-200: #fdd6b7;
	--color-primary-300: #fabf8f;
	--color-primary-400: #df9f29;
	--color-primary-500: #d4880e;
	--color-primary-600: #d4780e;
	--color-primary-200-contrast: #640202;
	--color-primary-500-contrast: white;

	--color-error-100: #ffc0b4;
	--color-error-500: #c7330f;

	--color-primary-200-bg:#7e7874;
	--color-primary-300-bg: #3f3c3a;
	--color-primary-400-bg:#22272e;
	--color-primary-500-bg:#1b1f25;

	--space-1: 0.25rem;
	--space-2: 0.5rem;
	--space-4: 1rem;
	--space-6: 1.5rem;
	--space-8: 2rem;
	--space-10: 2.5rem;

	--border-radius-small: 4px;
	--border-radius-medium: 6px;
	--border-radius-big: 10px;
	--border-radius-max: 18px;

}

body {
	font-family: sans-serif;
	/* background-color: var(--color-gray-100); */
}

.container {
	background-color: var(--color-primary-400-bg);
	max-width: 95%;
	min-height: 25rem;
	margin: var(--space-6) auto;
	overflow: auto;
	border: 1px solid black;
	padding: var(--space-8);
	border-radius: var(--border-radius-medium);
}